<!-- Footer --><style media="screen">
  .mail{
    font-size:2rem;
  }
</style>
<footer id="footer">
<h1>Contact Us</h1><br>

<center><p>
Company Location: 48/1st Floor New Cloth Market Ahmedabad, Gujarat <br>

Company Contacts: 9602295961, 7597343073 <br>

Key Executives: AYUSH AGARWAL (Proprietor)
MANOJ KAMDAR(Key Person)</p></center>
<a class="mail" href="mailto:ayushagarwal@kamdar-groups.com"><i class="fas fa-envelope-open"></i>
</a>
<p>ayushagarwal@kamdar-groups.com</p>
<br>
<p style="font-size:0.9rem;">
<a>© raghav enterprises</a><br>
<a>© Designed by Rakshita agarwal & Sneha khandelwal</a></p>



</footer>




</body>

</html>
