<%- include("header") -%>

<br><br>
  <section id="testimonials">
<!-- carousel slides -->
<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <a href="/paper3" target="">
<img class="testimonial-image" src="sl1.jpg" alt=""></a>
    </div>

      <div class="carousel-item">
          <a href="/paper2" target="">
        <img class="testimonial-image"src="sl2.png" alt=""></a>
      </div>

      <div class="carousel-item">
          <a href="/paper1" target="">
        <img class="testimonial-image" src="sl3.png" alt=""></a>
      </div>

  </div>
  <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




  </section>


<section id="details">
  <center>  <h1>OUR PRODUCTS</h1></center>
  <br><br><br>
  <div class="row">

    <div class=" det1 col-lg-4">
  <center>  <a href="/paper3" target="">    <img src="sl1.jpg" alt=""></a>
    <form class="" action="/paper3" method="post">
      <button type="submit" class="btn btn-info">Paper Bags</button>

    </form>
</center>  </div>

      <div class="det1 col-lg-4">
    <center>      <a href="/paper2" target=""><img src="sl2.png" alt=""></a>
      <form class="" action="/paper2" method="post">
        <button type="submit" class="btn btn-info">Fabric</button>
      </form>

  </center>    </div>

        <div class="det1 col-lg-4">
        <a href="/paper1" target="">    <img src="sl3.png" alt=""></a>
          <center>
<form class="" action="/paper1" method="post">
  <button type="submit" class="btn btn-info">Granite</button>

</form>            </center>
        </div>

  </div>
</section>


  <!-- Call to Action -->
<section id="welcome">
  <div class="">
    <center>
      <br><br><br>
    <h1>Welcome to our Website</h1>
    <br></center>
<p><strong>RAGHAV ENTERISES</strong> is a family-owned organisation based out of Kishangarh, Rajasthan, India. We are continuously growing started from 2 million INR turnover in 2015 to targeting 20 million INR 2021 Currently having base in Ahmedabad. Being staunch believers in quality and value for money, we have spearheaded to becoming leading manufacturers and exporters of greige and finished fabrics. The dedicated and growth-oriented person of our firm are backed by an experience of 25 years in textile who are committed to delivering high quality products and excellent customer services.<br></p>
<br>
<center><h5>Scope of Business:</h5>
<p>
  We deal into:   1. All kind of textile products such as greige cotton and PC fabrics, dyed finish fabrics used for industrial consumption and Garments.<br>
  2. we deal into HDPE LAMINATED kraft Paper sacks. Which are used in the packaging of Skimmed milk powder, cement industry, fertilizers, rice industry.<br>
  3. We export wide range of supreme quality granites and Indian marble as it is one of our family business.</p>
</center>
<br>
<center><h5>Achievements:</h5>
<p>
We have recently supplied uniform fabric to Banas Dairy worth 9 million INR.

  <br>
  <br>
  </p>
  <center><h5>Registered Under:</h5>
  <p>
We are already registered with your sister dairies <strong> BANAS DAIRY, PALANPUR & DUDHSAGAR DAIRY, MEHSANA.</strong>

    <br>
    <br>
    </p>

  </center>
  </div>
</section>

<%- include("footer") -%>
