


<%- include("header") -%>

  <style media="screen">
    body{
    background-color:black;

    }

    .image1 {

    margin: 1%;
    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('b11.jpg');
    }
    .ig{
      font-weight: bolder;
      line-height: 10rem;
    }

  #page1{
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 2%;

      margin-bottom: 2%;

  }
    .page{
  margin:0;
  padding: 0 1.2rem 1.1rem;
    }
  </style>

<section id="image">
<br><br><br><br>
  <div class="image1">
    <center>
<h1 class="ig">INDIAN GRANITE</h1>
  </center></div>
</section>
      <section id="page1">
        <div class="row">

          <div class="page col-lg-4">
            <div class="card" style="width: 18rem;">

        <a href="/pm1" target="">  <img class="card-img-top" src="pm1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <center>
            <h5 class="card-title">Allure Gold Granite</h5>
            <form class="" action="/pm1" method="post">
                      <button  class="btn btn-success" type="submit" name="button">Product details</button>

                    </form></center>
          </div>
        </div>
          </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm2" target=""><img class="card-img-top" src="pm2.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Brazil Brown Granite</h5>
      <form class="" action="/pm2" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>    </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm3" target=""><img class="card-img-top" src="pm3.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Crystal Blue Granite</h5>
      <form class="" action="/pm3" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>    </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">
      <div class="card" style="width: 18rem;">
      <a href="/pm4" target=""><img class="card-img-top" src="pm4.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Magic Black Granite</h5>
      <form class="" action="/pm4" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>    </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm5" target=""><img class="card-img-top" src="pm5.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Paradizzo Black Granite</h5>
      <form class="" action="/pm5" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>    </center>
      </div>
      </div>
    </div>

    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm6" target=""><img class="card-img-top" src="pm6.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Tiger Granite</h5>
      <form class="" action="/pm6" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm7" target=""><img class="card-img-top" src="pm7.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Rosy Pink Granite</h5>
      <form class="" action="/pm7" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm8" target=""><img class="card-img-top" src="pm8.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Rajasthan Black Granite</h5>
      <form class="" action="/pm8" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem;">
      <a href="/pm9" target=""><img class="card-img-top" src="pm9.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Multy Granite</h5>
      <form class="" action="/pm9" method="post">
                <button class="btn btn-success" type="submit" name="button">Product details</button>

              </form>      </center>
      </div>
      </div>
    </div>

        </div>

      </section>
      <section id="welcome">
        <div class="">
          <center>
            <br><br><br>
          <h1>Welcome to the World of Indian Granites!</h1>
          <br><br>
      <p>We are leading manufacturers of granite and exporting products since 2015. We are known for our quality, consistency and commitment. We care to build customer relationship, satisfaction & trust for long term Business growth as dependable granite supplier. We can deliver many containers of same granite pattern to any number of granites of a region to single container capacity. Happy to do any small or large volumes with greater care and responsibility at competitive prices.</p>
<br><br>
        <center></div>
      </section>


      <%- include("footer") -%>
