<%- include("header") -%>

  <style media="screen">
    body{
    background-color: black;

    }

  #page1{
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 2%;
      margin-bottom: 2%;
  }
    .page{
  margin:0;
  padding: 0 1.2rem 1.1rem;
    }

    .image1 {

    margin: 1%;
    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('b1.jpg');
    }
    .ig{
      font-weight: bolder;
      line-height: 10rem;
    }
  </style>
<section id="image">
  <br><br><br>
  <div class="image1">
    <center>
<h1 class="ig">FABRICS</h1>
  </center></div>
</section>
      <section id="page1">
        <div class="row">
          <div class="page col-lg-4">
            <div class="card" style="width: 18rem; height:25rem;">
          <a href="/pc1" target="">  <img class="card-img-top" src="pc1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <center>
            <h5 class="card-title">Grey Cotton Fabric</h5>
<form class="" action="/pc1" method="post">
  <button class="btn btn-success" type="submit" name="button">Product details</button>

</form>
            </center>
          </div>
        </div>
          </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
    <a href="/pc2" target="">  <img class="card-img-top" src="pc2.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Spandex Fabric</h5>
      <form class="" action="/pc2" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>
      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <a href="/pc3" target=""><img class="card-img-top" src="pc3.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Lycra Satin Fabric</h5>
      <form class="" action="/pc3" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>
      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <a href="/pc4" target=""><img class="card-img-top" src="pc4.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Drill Fabric</h5>
      <form class="" action="/pc4" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <a href="/pc5" target=""><img class="card-img-top" src="pc5.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Twill Fabric</h5>
      <form class="" action="/pc5" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>

    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem; ">
        <a href="/pc6" target=""><img class="card-img-top"  src="pc6.jpg" alt="Card image cap"></a>

      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Duck Fabric</h5>
      <form class="" action="/pc6" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>


        </div>

      </section>
      <section id="welcome">
        <div class="">
          <center>
          <h1>Welcome to Our Website!</h1>
          <br><br>
      <p>We are reliable Manufacturers and Suppliers of Cotton & polyster Fabric. Our wide range comprises Grey Cotton Fabric, Cotton Spandex Fabric, Lycra Satin Fabric, Cotton Drill Fabric, Cotton Twill Fabric and Cotton Duck Fabric.


We are a renowned fabric manufacturing company based in the hub of textiles in India – Ahmedabad. Over the years while practicing the highest ethical standards we gained a reputation in the market of high-quality Textile Manufacturers in Ahmedabad
</p>
        <center></div>
      </section>



      <%- include("footer") -%>
