<%- include("header") -%>

  <style media="screen">
    body{
    background-color: black;

    }

  #page1{
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 2%;
      margin-bottom: 2%;
  }
    .page{
  margin:0;
  padding: 0 1.2rem 1.1rem;
    }

    .image1 {

    margin: 1%;
    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('b2.jpg');
    }
    .ig{
      font-weight: bolder;
      line-height: 10rem;
    }
  </style>
<section id="image">
  <br><br><br>
  <div class="image1">
    <center>
<h1 class="ig">PAPER AND PACKAGING</h1>
  </center></div>
</section>
      <section id="page1">
        <div class="row">
          <div class="page col-lg-4">
            <div class="card" style="width: 18rem; height:29rem;">
          <a href="/ps1" target=""><img class="card-img-top" src="ps1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <center>
            <h5 class="card-title">HDPE Laminated Centre Sealed Brown Paper Bag</h5>
            <form class="" action="/ps1" method="post">
              <button class="btn btn-success" type="submit" name="button">Product details</button>

            </form>            </center>
          </div>
        </div>
          </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:29rem;">
      <a href="/ps2" target=""><img class="card-img-top" src="ps2.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">HDPE Laminated Stitched Paper Bag</h5>
      <form class="" action="/ps2" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:29rem;">
      <a href="/ps3" target=""><img class="card-img-top" src="ps3.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Dunnage Air Bags</h5>
      <form class="" action="/ps3" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:29rem;">
      <a href="/ps4" target=""><img class="card-img-top" src="ps4.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">Pasted Valve Multiwall Bags</h5>
      <form class="" action="/ps4" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:29rem;">
      <a href="/ps5" target=""><img class="card-img-top" src="ps5.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <center>
      <h5 class="card-title">HDPE Laminated Centre Sealed White Paper Bag</h5>
      <form class="" action="/ps5" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>

    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:29rem; ">
      <a href="/ps6" target="">  <img class="card-img-top"  src="ps6.jpg" alt="Card image cap"></a>

      <div class="card-body">
        <center>
      <h5 class="card-title">HDPE Laminated Paper Rolls</h5>
      <form class="" action="/ps6" method="post">
        <button class="btn btn-success" type="submit" name="button">Product details</button>

      </form>      </center>
      </div>
      </div>
    </div>


        </div>

      </section>

      <section id="welcome">
        <div class="">
          <center>
          <h1>Welcome to the PAPER AND PACKAGING World!</h1>
          <br><br>
<p>RAGHAV ENTERISES has set a benchmark for itself in the industry in a very short span of time. The company is renowned as one of the prominent Manufacturers, Exporters, and Suppliers of HDPE Laminated Paper Bags and Multiwall Paper Bags. The assortment of products, we offer, includes, HDPE Laminated Paper Bags, Multiwall Paper Bags, HDPE Laminated Paper Rolls, Dunnage Air Bags and Pasted Valve Multiwall Bags. These products are used in varied industries like Chemical, Construction, Dyes & Intermediates, Mineral, Rubber, Agro Produces, Polymers, Petrochemicals, Fertilizers, Pesticides, Carbon Black, Plastic etc.</p>        <center></div>
      </section>





      <%- include("footer") -%>
