<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Grey Cotton Fabric</title>

  <!--css style sheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--font awesome-->
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>


  <!--bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico">
  <link rel="canonical" href="https://www.shivalikpaper.co.in/hdpe-laminated-centre-sealed-brown-paper-bag.htm" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/main-common/catalog_common.css" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/catalog.css" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/responsive.css" media="(min-width:641px) and (max-width:980px)" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/mobile.css" media="(max-width:640px)" />
  <script src="https://catalog.wlimg.com/main-common/catalog_common.js"></script>
  <script src="https://catalog.wlimg.com/templates-images/12569/common/catalog_new.js"></script>
</head>

<body class="del_inHdr">
  <%- include("header1") -%>
  <br><br><br>

  <div class="bodycontent ei submit-body-space">
    <div id="middle">
      <div id="bodyFormatNT" class="wrap  ip ls">
        <br style="content:'';display:inline-block;width:100%;height:15px;" />
        <div class="h1"> </div>
        <section class="pt12px mb30px bdr data bx1 pr">
          <div class="row1 dt mb20px">
            <div class="col-1 width38" style="padding:0px 15px 0px 10px;">
              <div class="sidebar fl mb15px" style="z-index:99;">
                <ul class="bxslider fx-height">
                  <li class="pr">


                      <div class="slide-fixImag pr">
                        <a class="fancy-popup"> <img width="500" height="500" src="https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4.jpg" class="attachment-shop_thumbnail wp-post-image" alt="" loading="lazy" title="Webp.net-resizeimage (4)" data-caption="" data-src="https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4.jpg" data-large_image="https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4.jpg" data-large_image_width="500" data-large_image_height="500" srcset="https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4.jpg 500w, https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4-300x300.jpg 300w, https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4-100x100.jpg 100w, https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4-150x150.jpg 150w" sizes="(max-width: 500px) 100vw, 500px" data-zoom-image="https://mystonegranite.com/wp-content/uploads/2020/09/Webp.net-resizeimage-4.jpg"class=" lazyloaded"></a>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="ac mb15px"> </div>
              </div>
            </div>
            <div class="col-2 large">
              <div class="fo mb10px">
                <div class="xxlarge mb5px dib lh13em">
                  <a name="1144152"></a>Allure Gold Granite</div>
                <div class="mt20px proDtls">
                  <p class="b large alpha75 mb10px">Product Details</p>
                  <table class="w100 mb15px formTable">
                    <tr>
                      <td class="p7px w33">Slab Sizes</td>
                      <td class="p7px">CUTTER SLABS, GANGSAW SLABS</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Keyword</td>
                      <td class="p7px">desert Green Granite</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Thickness</td>
                      <td class="p7px">16mm, 18mm, 20mm Availabe</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Finishes</td>
                      <td class="p7px">Leather, Flamed, Brushed, Polished, Honed, Lapatura</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Applications</td>
                      <td class="p7px">Counter/Vanity Top, Flooring, Cladding, Marble Handicrafts, Swimming Pool Areas, Bathroom Walls & Floors, Fireplace Walls, External & Internal Aids In Construction</td>

                    </tr>
                  </table>
                  <br />
                  <p class="b large alpha75 mb10px">Additional Information</p>
                  <table class="w100 mb15px formTable">
                    <tr>
                      <td class="p7px w33">Min. Order Quantity</td>
                      <td class="p7px">1000 sq. feet</td>
                    </tr>
                  </table>
                </div>

                <br />
</div>
</div>
</div>
</div>
</section>

      <%- include("footer") -%>
