<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Grey Cotton Fabric</title>

  <!--css style sheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--font awesome-->
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>


  <!--bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico">
  <link rel="canonical" href="https://www.shivalikpaper.co.in/hdpe-laminated-centre-sealed-brown-paper-bag.htm" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/main-common/catalog_common.css" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/catalog.css" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/responsive.css" media="(min-width:641px) and (max-width:980px)" />
  <link rel="stylesheet" href="https://catalog.wlimg.com/templates-images/12569/12570/mobile.css" media="(max-width:640px)" />
  <script src="https://catalog.wlimg.com/main-common/catalog_common.js"></script>
  <script src="https://catalog.wlimg.com/templates-images/12569/common/catalog_new.js"></script>
</head>

<body class="del_inHdr">
  <%- include("header1") -%>
  <br><br><br>
  <div class="bodycontent ei submit-body-space">
    <div id="middle">
      <div id="bodyFormatNT" class="wrap  ip ls">
        <br style="content:'';display:inline-block;width:100%;height:15px;" />
        <div class="h1"> </div>
        <section class="pt12px mb30px bdr data bx1 pr">
          <div class="row1 dt mb20px">
            <div class="col-1 width38" style="padding:0px 15px 0px 10px;">
              <div class="sidebar fl mb15px" style="z-index:99;">
                <ul class="bxslider fx-height">
                  <li class="pr">

                      <div class="slide-fixImag pr">
                        <a class="fancy-popup"><img class=" lazyloaded" src="https://2.wlimg.com/product_images/bc-full/dir_28/812879/dunnage-air-bags-1553076.jpg" data-src="https://2.wlimg.com/product_images/bc-full/dir_28/812879/hdpe-laminated-paper-rolls-1553074.jpg" alt="HDPE Laminated Paper Rolls" title="HDPE Laminated Paper Rolls"></a>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="ac mb15px"> </div>
              </div>
            </div>
            <div class="col-2 large">
              <div class="fo mb10px">
                <div class="xxlarge mb5px dib lh13em">
                  <a name="1144152"></a>Dunnage Air Bags </div>
                <div class="mt20px proDtls">
                  <p class="b large alpha75 mb10px">Product Details</p>
                  <table class="w100 mb15px formTable">
                    <tr>
                      <td class="p7px w33">Material</td>
                      <td class="p7px">Paper, PP</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Size</td>
                      <td class="p7px">Available in Different Sizes</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Application</td>
                      <td class="p7px">Industrial Use</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Color</td>
                      <td class="p7px">Brown</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Pattern</td>
                      <td class="p7px">Plain</td>
                    </tr>
                    <tr>
                      <td class="p7px w33">Features</td>
                      <td class="p7px">Easy To Carry, good Quality</td>
                    </tr>
                  </table>
                  <br />
                  <p class="b large alpha75 mb10px">Additional Information</p>
                  <table class="w100 mb15px formTable">
                    <tr>
                      <td class="p7px w33">Min. Order Quantity</td>
                      <td class="p7px">1000 Bag(s)</td>
                    </tr>
                  </table>
                </div>
                <div class="description">
                  <div class="pr">
                    <div class="pt20px pb10px lh18em">
                      <p>We are also dealing in <strong>Dunnage Air Bags.</strong> Dunnage bags, also known as airbags, air cushions, and inflatable bags, are used to secure and stabilize cargo.

                        <br />
                        <br /> <strong> </div>
                          <div><p> </p>
<p><strong>Types :</strong></p>
<ul>
<li><strong>Paper Dunnage Bags : </strong>Paper dunnage bags are made out of two components, an inner component that consists of a polyethylene inner bag, the outer component is a paper bag. The outer bag is made of the highest quality, light weightÂ kraft paperÂ of high tensile strength. Paper dunnage bags come in different strengths and varieties and can be made in any special size. For use in the chemical industry paper dunnage bags can be polycoated.</li>
<li>Woven Polypropylene Bags : Woven Polypropylene bags are extremely durable and can be used in dry and wet conditions. These bags are best for extreme heavy loads</li>
<li>Polypropylene Paper Laminated Bags : The paper used on the outside of the bag is laminated on the inside with a woven polypropylene layer, which allows higher resistance to punctures and moisture.</li>
</ul>
</div>
<div><ul>
 <tr>Disadvantages : Dunnage bags are susceptible to pointed and sharp articles such as nails.</tr>
</ul></div>
                  </div>
                </div>
                <br />
                </div>
                </div>
                </div>
                </div>
                </section>

                      <%- include("footer") -%>
