<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>page2</title>




<!--css style sheets-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--font awesome-->
  <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>


<!--bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body>

  <style media="screen">

      body{
        font-family: Montserrat;
      }

      #title{

        color: #fff;
        background-color:#37403F;

      }

      h3{
        font-family: Montserrat-bold;
        font-weight: bold;
      }

      p{
        color: #fff;
      }
      .container-fluid{
        padding: -8% 4% -4%;

      }
      .navbar{
        padding: 0 0 0rem;
      }
      .navbar-brand{
        font-family: Ubuntu cursive;
        font-size: 2.0rem;
        font-weight: bold;

      }
      .nav-item{
      padding:2px;
      font-size:5.0rem;

      }
      .logo{
        width:12%;
        border-radius:2%;
      }
      .nav-link{
        font-size: 1.3rem;
        font-family: Montserrat;
        padding:2% 0%;
        font-weight: 500;
      }

      .download-button{
        margin: 5% 3% 5% 3%;
      }

.image1 {

margin: 1%;
color: #fff;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url('b2.jpg');
}
.ig{
  font-weight: bolder;
  line-height: 10rem;
}


      #footer{
    background-color:#838996;
    padding:4% 0% 3% 0%;
    text-align: center;
      font-size: 1.6rem;
  }

  .social-icon{

    margin: 20px 10px;
  }

    </style>

    <section id="title">

      <!-- Nav Bar -->
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">


            <a class="navbar-brand" href="">Raghav enterprises</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a class="nav-link" href="#footer">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Products </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cta">About us</a>
              </li>

            </ul>
          </div>
        </nav>

  </section>
  <style media="screen">
    body{
    background-color: #9F7F78;

    }

  #page1{
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 2%;
      margin-bottom: 2%;
  }
    .page{
  margin:0;
  padding: 0 1.2rem 1.1rem;
    }
  </style>
<section id="image">
  <div class="image1">
    <center>
<h1 class="ig">FABRICS</h1>
  </center></div>
</section>
      <section id="page1">
        <div class="row">
          <div class="page col-lg-4">
            <div class="card" style="width: 18rem; height:25rem;">
          <img class="card-img-top" src="pc1.jpg" alt="Card image cap">
          <div class="card-body">
            <center>
            <h5 class="card-title">Grey Cotton Fabric</h5>
            <a href="#" class="btn btn-primary">Product details</a>
            </center>
          </div>
        </div>
          </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <img class="card-img-top" src="pc2.jpg" alt="Card image cap">
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Spandex Fabric</h5>
      <a href="#" class="btn btn-primary">Product details</a>
      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <img class="card-img-top" src="pc3.jpg" alt="Card image cap">
      <div class="card-body">
        <center>
      <h5 class="card-title">Lycra Satin Fabric</h5>
      <a href="#" class="btn btn-primary">Product details</a>
      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <img class="card-img-top" src="pc4.jpg" alt="Card image cap">
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Drill Fabric</h5>
      <a href="#" class="btn btn-primary">Product details</a>
      </center>
      </div>
      </div>
    </div>
    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem;">
      <img class="card-img-top" src="pc5.jpg" alt="Card image cap">
      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Twill Fabric</h5>
      <a href="#" class="btn btn-primary">Product details</a>
      </center>
      </div>
      </div>
    </div>

    <div class="page col-lg-4">

      <div class="card" style="width: 18rem; height:25rem; ">
        <img class="card-img-top"  src="pc6.jpg" alt="Card image cap">

      <div class="card-body">
        <center>
      <h5 class="card-title">Cotton Duck Fabric</h5>
      <a href="#" class="btn btn-primary">Product details</a>
      </center>
      </div>
      </div>
    </div>


        </div>

      </section>

      <section id="welcome">
        <div class="">
          <center>
          <h1>Welcome</h1>
          <br><br>
      <p>A Very warm welcome to the world of Indian Granites. We are leading manufacturers of granite and exporting products since 2015. we are known for our quality, consistency and commitment.</p>
        <center></div>
      </section>


  <footer id="footer">

<a class="" href=""><i class="social-icon fab fa-instagram"></i>
</a>
<a href=""><i class="social-icon fab fa-twitter"></i></a>
<a href=""><i class="social-icon fab fa-linkedin-in"></i></a>
  <p>@ raghav enterprises</p>

  </footer>



  </body>
</html>
